<launch>

  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find abb_irb1200_5_90_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find abb_irb1200_5_90_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find abb_irb1200_5_90_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  
</launch>
